:root {
  --green: rgb(34, 135, 93); 
  --blue: rgb(15, 106, 175);
  --brown: rgb(134, 96, 68);
  --yellow: rgb(213, 202, 100);
  --red: rgb(195, 80, 80);
  --purple: rgb(168, 78, 171);
}

::selection {
  background: var(--brown);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--blue);
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.initials {
  font-size: 25rem;
  line-height: 100%;
  margin: 0 0;
  word-spacing: 10rem;
  position: absolute;
  left: 25%;
}


.navbar {
  right: 3%;
  top: 5%;
  position: absolute;
}

.link-container {
  width: 100%;
  list-style-type: none;
  /* display: flex; */
  justify-content: end;
  /* padding-left: 0; */
}

.link-container li {
  padding: .25rem .5rem;
  font-size: 2.5rem;
  width: fit-content;
  margin-bottom: 10px;
}

.link-container li:first-child {
  border-bottom: 2px solid var(--yellow);
}

.link-container li:nth-child(2) {
  border-bottom: 2px solid var(--red);
}

.link-container li:nth-child(3) {
  border-bottom: 2px solid var(--purple);
}

.link-container li:nth-child(4) {
  border-bottom: 2px solid var(--green);
}



.footer {
  background: var(--green);
  bottom: 0%;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-name {
  padding: 0 3rem; 
  color: white;
  font-weight: lighter;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
}

.footer-icons {
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
}

.footer-icons svg {
  font-size: 3rem;
  color: white;
  padding: 0 1rem;
}
